.btn:focus, .btn-close:focus {
  box-shadow: none !important;
}

.btn-lightning {
  overflow: hidden;
  position: relative;
  border: thin white solid;
  color: white;
  width: 120px;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 4px 8px;

  &:after {
    background: $DodgerBlue-500;
    content: "";
    height: 240px;
    left: -126px;
    opacity: .2;
    position: absolute;
    top: -96px;
    transform: rotate(60deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-lightning:hover {
  color: white;
  &:after {
    left: 148%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}