
@mixin btn-fizzy{
  .b_l_quad .button_spots{
    // bottom
      @for $i from 1 through 20{
          &:nth-child(#{$i}){
              padding:random(3) + 2 + px;
              left: 20 + ($i * 12) + px;
              top: 100 + px;
          }
      }
      // top
      @for $i from 20 through 40{
          &:nth-child(#{$i}){
              padding:random(3) + 2 + px;
              left: -200 + ($i * 12) + px;
              top: 30 + px;
          }
      }
      // right
      @for $i from 40 through 46{
          &:nth-child(#{$i}){
              padding:random(3) + 2 + px;
              left: 240px;
              top: -450 + ($i * 12) + px;
          }
      }
// left
      @for $i from 46 through 52{
          &:nth-child(#{$i}){
              padding:random(3) + 2 + px;
              left: 60px;
              top: -550 + ($i * 12) + px;
          }
      }
  }
  .button_spots{
      position:absolute;
      border-radius:100px;
      background:green;
      opacity:0;
      animation:opacity 1s;
      @for $i from 1 through 52{
          &:nth-of-type(#{$i}){
              transform-origin:90px - random(10) 20px - random(10);
              background:hsla(350 + random(399) ,57% - random(10) ,65%,1);
              box-shadow:0px 0px 10px rgba(255,255,255,0.12);
              transition:all 1s + random(10)/10;
          }
      }
  }
  .button_inner{
      //overflow:hidden;
      position:absolute;
      width:300px;
      height:150px;
      left:0;
      right:0;
      margin:auto;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
      
      cursor:pointer;
      text-align: Center;
      transition:all .3s,box-shadow .2s,transform .2s .2s;

      & .button_spots{
          @for $i from 1 through 19{
              &:nth-of-type(#{$i}){
                  animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
              }
          }
          @for $i from 20 through 40{
              &:nth-of-type(#{$i}){
                  animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
              }
          }
          @for $i from 40 through 46{
              &:nth-of-type(#{$i}){
                  animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
              }
          }
          @for $i from 46 through 54{
              &:nth-of-type(#{$i}){
                  animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
              }
          }
      }
  }
}

@for $i from 1 through 20{
  @keyframes spot-#{$i}{
      from{opacity:0;}
      to{transform:translateY(30px) translatex(-20px + $i*2);opacity:.6;}
  }
}
@for $i from 20 through 40{
  @keyframes spot-#{$i}{
      from{opacity:0;}
      to{transform:translateY(-30px) translatex(-50px + $i*2);opacity:.6;}
  }
}
@for $i from 40 through 45{
  @keyframes spot-#{$i}{
      from{opacity:0;}
      to{transform:translateY(-86px + $i*2) translatex(40px);opacity:.6;}
  }
}
@for $i from 46 through 54{
  @keyframes spot-#{$i}{
      from{opacity:0;}
      to{transform:translateY(-99px + $i*2) translatex(-40px);opacity:.6;}
  }
}

@keyframes opacity{
  from{}
  to{opacity:0;}
}

@keyframes rotate{
  from{opacity:.8}
  to{transform:rotate(360deg);opacity:.8}
}

@keyframes down{
  from{left:10px;}
  to{left:57px;}
}

@keyframes spew{
  from{opacity:0;}
  to{opacity:0.8;}
}

@keyframes final{
  from{opacity:1;}
  to{opacity:0;}
}
@keyframes finalbox{
  from{}
  to{width:50px;}
}
@keyframes tick{
  from{}
  to{transform:scale(1) rotate(-90deg)}
}








// .button{
//   .b_l_quad .button_spots{
//     // bottom
//       @for $i from 1 through 20{
//           &:nth-child(#{$i}){
//               padding:random(3) + 2 + px;
//               left: 20 + ($i * 12) + px;
//               top: 100 + px;
//           }
//       }
//       // top
//       @for $i from 20 through 40{
//           &:nth-child(#{$i}){
//               padding:random(3) + 2 + px;
//               left: -200 + ($i * 12) + px;
//               top: 30 + px;
//           }
//       }
//       // right
//       @for $i from 40 through 46{
//           &:nth-child(#{$i}){
//               padding:random(3) + 2 + px;
//               left: 240px;
//               top: -450 + ($i * 12) + px;
//           }
//       }
// // left
//       @for $i from 46 through 52{
//           &:nth-child(#{$i}){
//               padding:random(3) + 2 + px;
//               left: 60px;
//               top: -550 + ($i * 12) + px;
//           }
//       }
//   }
//   .button_spots{
//       position:absolute;
//       border-radius:100px;
//       background:green;
//       opacity:0;
//       animation:opacity 1s;
//       @for $i from 1 through 52{
//           &:nth-of-type(#{$i}){
//               transform-origin:90px - random(10) 20px - random(10);
//               background:hsla(350 + random(399) ,57% - random(10) ,65%,1);
//               box-shadow:0px 0px 10px rgba(255,255,255,0.12);
//               transition:all 1s + random(10)/10;
//           }
//       }
//   }
//   &_inner{
//       //overflow:hidden;
//       position:absolute;
//       width:300px;
//       height:150px;
//       left:0;
//       right:0;
//       margin:auto;
//       box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
      
//       cursor:pointer;
//       text-align: Center;
//       transition:all .3s,box-shadow .2s,transform .2s .2s;

//       &:hover .button_spots{
//           @for $i from 1 through 19{
//               &:nth-of-type(#{$i}){
//                   animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
//               }
//           }
//           @for $i from 20 through 40{
//               &:nth-of-type(#{$i}){
//                   animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
//               }
//           }
//           @for $i from 40 through 46{
//               &:nth-of-type(#{$i}){
//                   animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
//               }
//           }
//           @for $i from 46 through 54{
//               &:nth-of-type(#{$i}){
//                   animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
//               }
//           }
//       }
//   }
// }

// @for $i from 1 through 20{
//   @keyframes spot-#{$i}{
//       from{opacity:0;}
//       to{transform:translateY(30px) translatex(-20px + $i*2);opacity:.6;}
//   }
// }
// @for $i from 20 through 40{
//   @keyframes spot-#{$i}{
//       from{opacity:0;}
//       to{transform:translateY(-30px) translatex(-50px + $i*2);opacity:.6;}
//   }
// }
// @for $i from 40 through 45{
//   @keyframes spot-#{$i}{
//       from{opacity:0;}
//       to{transform:translateY(-86px + $i*2) translatex(40px);opacity:.6;}
//   }
// }
// @for $i from 46 through 54{
//   @keyframes spot-#{$i}{
//       from{opacity:0;}
//       to{transform:translateY(-99px + $i*2) translatex(-40px);opacity:.6;}
//   }
// }

// @keyframes opacity{
//   from{}
//   to{opacity:0;}
// }

// @keyframes rotate{
//   from{opacity:.8}
//   to{transform:rotate(360deg);opacity:.8}
// }

// @keyframes down{
//   from{left:10px;}
//   to{left:57px;}
// }

// @keyframes spew{
//   from{opacity:0;}
//   to{opacity:0.8;}
// }

// @keyframes final{
//   from{opacity:1;}
//   to{opacity:0;}
// }
// @keyframes finalbox{
//   from{}
//   to{width:50px;}
// }
// @keyframes tick{
//   from{}
//   to{transform:scale(1) rotate(-90deg)}
// }