$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1366px;
$XL: 1400px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width -1px}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin around($bg, $bg-1) {
  background-color: $bg;
  border: none;
  outline: 0;
  border-radius: $br-1;
  display: flex;
  align-items: center;

  &__bdround {
    border: thin white solid;
    width: 63px;
    height: 62px;
  }

  &__img {
    border: thin white solid;
  }
}

@mixin box__yellow {
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $Goldenrod-500;
  box-shadow: 0px 6px $Goldenrod-600;
  -moz-box-shadow: 0px 6px $Goldenrod-600;
  -webkit-box-shadow: 0px 6px $Goldenrod-600;
  -o-box-shadow: 0px 6px $Goldenrod-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $Goldenrod-500;
    box-shadow: 0px 4px $Goldenrod-600;
    -moz-box-shadow: 0px 4px $Goldenrod-600;
    -webkit-box-shadow: 0px 4px $Goldenrod-600;
    -o-box-shadow: 0px 4px $Goldenrod-600;
  }

  @include pc {
    width: 250px;
    height: 250px;
    border: solid 26px $Goldenrod-500;
    box-shadow: 0px 8px $Goldenrod-600;
    -moz-box-shadow: 0px 8px $Goldenrod-600;
    -webkit-box-shadow: 0px 8px $Goldenrod-600;
    -o-box-shadow: 0px 8px $Goldenrod-600;
  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }

    @include pc {
      width: 198px;
      box-shadow: inset 0px 8px 0px $gray-400;
      padding: 50px 68px 48px 52px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }

    @include pc {
      width: 80px;
    }
  }
}

@mixin box__yellow1 {
  cursor: pointer;
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $Goldenrod-500;
  box-shadow: 0px 6px $Goldenrod-600;
  -moz-box-shadow: 0px 6px $Goldenrod-600;
  -webkit-box-shadow: 0px 6px $Goldenrod-600;
  -o-box-shadow: 0px 6px $Goldenrod-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $Goldenrod-500;
    box-shadow: 0px 4px $Goldenrod-600;
    -moz-box-shadow: 0px 4px $Goldenrod-600;
    -webkit-box-shadow: 0px 4px $Goldenrod-600;
    -o-box-shadow: 0px 4px $Goldenrod-600;

  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }
  }
}

@mixin box__blue {
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $DodgerBlue-500;
  box-shadow: 0px 6px $DodgerBlue-600;
  -moz-box-shadow: 0px 6px $DodgerBlue-600;
  -webkit-box-shadow: 0px 6px $DodgerBlue-600;
  -o-box-shadow: 0px 6px $DodgerBlue-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $DodgerBlue-500;
    box-shadow: 0px 4px $DodgerBlue-600;
    -moz-box-shadow: 0px 4px $DodgerBlue-600;
    -webkit-box-shadow: 0px 4px $DodgerBlue-600;
    -o-box-shadow: 0px 4px $DodgerBlue-600;
  }

  @include pc {
    width: 250px;
    height: 250px;
    border: solid 26px $DodgerBlue-500;
    box-shadow: 0px 8px $DodgerBlue-600;
    -moz-box-shadow: 0px 8px $DodgerBlue-600;
    -webkit-box-shadow: 0px 8px $DodgerBlue-600;
    -o-box-shadow: 0px 8px $DodgerBlue-600;
  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }

    @include pc {
      width: 198px;
      box-shadow: inset 0px 8px 0px $gray-400;
      padding: 50px 68px 48px 52px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }

    @include pc {
      width: 80px;
    }
  }
}

@mixin box__blue1 {
  cursor: pointer;
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $DodgerBlue-500;
  box-shadow: 0px 6px $DodgerBlue-600;
  -moz-box-shadow: 0px 6px $DodgerBlue-600;
  -webkit-box-shadow: 0px 6px $DodgerBlue-600;
  -o-box-shadow: 0px 6px $DodgerBlue-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $DodgerBlue-500;
    box-shadow: 0px 4px $DodgerBlue-600;
    -moz-box-shadow: 0px 4px $DodgerBlue-600;
    -webkit-box-shadow: 0px 4px $DodgerBlue-600;
    -o-box-shadow: 0px 4px $DodgerBlue-600;
  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }
  }
}

@mixin box__pink {
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $pink-500;
  box-shadow: 0px 6px $pink-600;
  -moz-box-shadow: 0px 6px $pink-600;
  -webkit-box-shadow: 0px 6px $pink-600;
  -o-box-shadow: 0px 6px $pink-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $pink-500;
    box-shadow: 0px 4px $pink-600;
    -moz-box-shadow: 0px 4px $pink-600;
    -webkit-box-shadow: 0px 4px $pink-600;
    -o-box-shadow: 0px 4px $pink-600;
  }

  @include pc {
    width: 250px;
    height: 250px;
    border: solid 26px $pink-500;
    box-shadow: 0px 8px $pink-600;
    -moz-box-shadow: 0px 8px $pink-600;
    -webkit-box-shadow: 0px 8px $pink-600;
    -o-box-shadow: 0px 8px $pink-600;
  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }

    @include pc {
      width: 198px;
      box-shadow: inset 0px 8px 0px $gray-400;
      padding: 50px 68px 48px 52px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }

    @include pc {
      width: 80px;
    }
  }
}

@mixin box__pink1 {
  cursor: pointer;
  background-color: $white-600;
  width: 150px;
  height: 150px;
  border: solid 20px $pink-500;
  box-shadow: 0px 6px $pink-600;
  -moz-box-shadow: 0px 6px $pink-600;
  -webkit-box-shadow: 0px 6px $pink-600;
  -o-box-shadow: 0px 6px $pink-600;
  border-radius: 100%;

  @include mobile {
    width: 100px;
    height: 100px;
    border: solid 16px $pink-500;
    box-shadow: 0px 4px $pink-600;
    -moz-box-shadow: 0px 4px $pink-600;
    -webkit-box-shadow: 0px 4px $pink-600;
    -o-box-shadow: 0px 4px $pink-600;
  }

  .main__circle__bd {
    width: 110px;
    box-shadow: inset 0px 6px 0px $gray-400;
    padding: 24px;
    border-radius: 100%;

    @include mobile {
      width: initial;
      box-shadow: inset 0px 4px 0px $gray-400;
      padding: 12px;
    }
  }

  .main__circle__img {
    @include mobile {
      width: 40px;
    }
  }
}

// btn play again
@mixin btn-play {
  background-color: white;
  text-transform: uppercase !important;
  border: none;
  outline: 0;
  width: 150px;
  text-transform: uppercase !important;

  &:hover {
    .btn-play__txt {
      color: red;
    }
  }

  &:active {
    background: linear-gradient(-30deg, rgb(228, 228, 228) 50%, rgb(208, 219, 255) 50%);
  }
}