//TODO: pick lại hết mã màu
//TODO:đặt lại màu biến sau cho hợp lí
// TODO: tìm hiểu rỏ về BEM đặt hết lại tên cho hợp lí
// color
$white-600: #EFEFEF;
$DarkBlue-400: #3D4262;
$DarkBlue-500: #2B3755;
$DarkBlue-600: #192444;
$DarkBlue-500: #3C4262;
$DodgerBlue-400:#75D6FB;
$DodgerBlue-500:#536EF7;
$DodgerBlue-600:#2945C3;
$Goldenrod-500: #EDA51D;
$Goldenrod-600: #C66B19;
$pink-500: #DB2D4D;
$pink-600: #9D1732;
$gray-200: #e3e8ff;
$gray-300: #dce2ff;
$gray-400: #BAC0D5;
$gray-500: #8A8FAC;

//font-size
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-24: 20px;
$fs-38: 38px;
$fs-42: 42px;
$fs-52: 52px;